.system {
    border-radius: 55px;
    background: rgb(0, 255, 55);
    white-space: nowrap;
    padding: 12px 64px 10px 20px;
    font-size: fontBig fontBig '20px'  '16px';
    outline: none;
    border: none;
    cursor: pointer;

  

}